@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/rc-tooltip/assets/bootstrap.css";
@import "../node_modules/react-datepicker/dist/react-datepicker.css";
@import "../node_modules/react-tiny-fab/dist/styles.css";
@import "../node_modules/modali/dist/modali.css";
@import "./tailwind.css";
@import "./components/select";
@import "./components/input";
@import "./components/loader";
@import "./components/sidebar";
@import "./components/modal";

#nprogress .bar {
  background: #48bb78 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #48bb78, 0 0 5px #48bb78 !important;
}

#nprogress .spinner-icon {
  border-top-color: #48bb78 !important;
  border-left-color: #48bb78 !important;
}

.rc-tooltip-inner {
  padding: 5px 10px !important;
  min-height: auto !important;
}

body {
  @apply bg-gray-200;
}

input {
  outline: none;
}

.emoji {
  @apply font-emoji;
}
