# General
.venv
.env

# Frontend
yarn-error.log
npm-debug.log
.next
node_modules

# Backend
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
pip-log.txt
backend/secretkey.txt
backend/static/admin
backend/static/graphene_django
backend/static/colorfield
