[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.*"
django-colorfield = ">=0.1.15"
django-cors-headers = ">=3.0.0"
django-environ = ">=0.4.5"
django-extensions = ">=2.2.5"
django-filter = ">=2.1.0"
django-graphql-jwt = ">=0.2.1"
graphene-django = ">=2.2"
graphene-django-optimizer = ">=0.3.6"
gunicorn = "*"
mysqlclient = ">=1.4.5"
requests = ">=2.21.0"
whitenoise = ">=4.1.4"

[requires]
python_version = "3.6"
