[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
Django = ">=2.2.7"
django-colorfield = ">=0.1.15"
django-filter = ">=2.1.0"
graphene-django = ">=2.2"
graphene-django-optimizer = ">=0.3.6"
django-graphql-jwt = ">=0.2.1"
gunicorn = "*"
django-environ = ">=0.4.5"
requests = ">=2.21.0"
mysqlclient = ">=1.4.5"
django-cors-headers = ">=3.0.0"


[requires]
python_version = "3.6"
